.nav {
    background-color: #002602;
};
.nav a {
    text-decoration: none;
    color: white;
    font-size: 45px;

};
.nav a.hover {
    color: #A28F30;
};

header {
    background-color: #1B5935;
};

body {
    background-color: #1B5935;
};
